html {
    scroll-behavior: smooth;
}

/* NAV  */

/* LOGO */

.logo {
    transform-style: none;
    position: absolute !important;
    z-index: 1;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 40px;
    font-family: 'Lora', serif;
}

.liens {
    margin-top: 20px;
    transform-style: none;
    position: absolute !important;
    z-index: 1;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 33%;
    font-family: 'Poppins', sans-serif;
}

.domaine {
    transform-style: none;
    position: absolute !important;
    z-index: 1;
    top: 270px;
    margin-left: 500px;
}