html {
    scroll-behavior: smooth;
}

.body {
    margin: 0% 8%;
    font-family: 'Poiret One', cursive;
}

/* NAV  */

.liens {
    list-style: none;
    transform-style: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

a{color:black !important;}

a:hover{color:rgb(163,125,124) !important;}

/* LOGO */

.logo {
    transform-style: none;
    font-size: 30px;
    margin-top: 40px;
    justify-content: center;
    font-family: 'Lora', serif;
    margin-bottom: 30px;
}

.fullstack {
    font-family: 'Poiret One', cursive;
    font-size: 17px;
}

/* CAROUSEL */
   
.carousel {
   margin-top: 50px;
}

.diviseur{
    width: 80px;
    height: 3px;
    background-color: black;
}

/* ABOUT  */

.about {
    font-size: 23px;
}

/* SKILL */

.barCouleur {
    background-color: rgb(163,125,124) !important;
}

/* SERVICE  */

.titre {
    text-align: center;
    margin-top: 50px;
    font-family: 'Lora', serif;
}

.service {
    margin-top: 60px;
    color: black;
}

/* CONTACT  */

.btn-envoyer {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
}

/* FOOTER */

.footer {
    background-color: black;
    padding: 30px;
}

.reseauxlogo {
    border-radius: 50px;
    padding: 8px;
    background-color: white;
    color: black;
    width: 48px;
    text-align: center;
}

.reseauxlogo:hover {
    color: rgb(163,125,124);
}

.backto {
    text-align: center;
    list-style: none;
}